:root {
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
}

body {
  margin: 0;
  //margin: 18px auto 0;
}

.wrap {
  min-height: 400px;
  position: relative;
}

.hero-large {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0;
  margin-left: 30px;

  @media (max-width: 1200px) {
    margin-left: auto;
    width: min-content;
  }

  @media (max-width: $screen-med) {
    margin: 0 0 0 auto;
    font-size: 42px;
    line-height: 48px;
  }

  @media (max-width: $screen-sm) {
    margin: 20px auto 10px;
    height: max-content;
    width: 90%;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: $color-jet;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 58px;
  margin: 36px 0;

  @media (max-width: $screen-med) {
    font-size: 42px;
    line-height: 48px;
  }
}

h2 {
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
  margin: 36px 0;

  @media (max-width: $screen-med) {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  font-weight: 900;
  font-size: 42px;
  line-height: 50px;
  margin: 36px 0;

  @media (max-width: $screen-med) {
    font-size: 32px;
    line-height: 40px;
  }
}

h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  margin: 36px 0;
}

h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 36px 0;

  @media (max-width: $screen-med) {
    font-size: 18px;
  }
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 36px 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 18px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $color-white inset !important;
  -webkit-box-shadow: 0 0 0 30px $color-white inset !important;
}

.search-form {
  grid-area: search_bar;
  background: $color-white;
  box-sizing: border-box;
  height: 41px;
  border: 1px solid $color-ash;
  border-radius: 20px;
  display: grid;
  grid-template-areas: "search_icon search_field";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 7px 10px;
  max-width: 322px;

  .fa-search {
    grid-area: search_icon;
    font-size: 22px;
    color: $color-ash;
  }

  .search-field {
    grid-area: search_field;
    background: $color-white;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 0 12px;
    font-size: 18px;
    letter-spacing: 0;
    font-family: "Red Hat Display", sans-serif;
    line-height: 26px;
    color: $color-ash;
    font-weight: 700;
  }

  @media (max-width: $screen-sm) {
    height: unset;
  }
}

label {
  color: $color-jet;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 300;
}

hr.red-gradient {
  height: 8px;
  margin: 10px auto 0;
  border-radius: 50px;
  border: none;
  width: 70%;
  background: linear-gradient(to right, $color-ember 0%, $color-fire 100%);
}

.woocommerce-Message,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  background: $color-white;
  box-shadow: 0 3px 6px 0 rgba(128, 138, 146, 0.5);
  border-top: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: $color-jet;
  max-width: 70%;
  margin: 20px auto;

  a.button {
    background: $color-white;
    color: $color-fire;
    letter-spacing: 0;
    text-decoration: underline;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    transition: all 0.5s;
    outline: none;

    &:hover {
      color: $color-jet;
      background: $color-white;
      text-decoration: underline;
    }
  }
}

.woocommerce-info::before {
  color: $color-fire;
}

.misc-content-wrapper {
  max-width: 70%;
  margin: 0 auto;

  @media (max-width: $screen-med) {
    max-width: 90%;
  }
}

.title-container {
  width: 80%;
  margin: 0 auto -40px;
  max-width: 1200px;
}

.title-container h1 {
  margin: 70px;
}

@media (max-width: 1500px) {
  .title-container h1 {
    margin: 50px 20px -40px 0;
  }
}


@media (max-width: 1200px) {
  .title-container h1 {
    margin: 0;
  }
}

@media (max-width: 1180px) {
	.secondary-hero {
		padding-top: 80px;
	}
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
