/*** primary colors ***/
$color-fire: #b2111e;
$color-jet: #000;
$color-white: #fff;
$color-ember: #cc4712;

/*** secondary colors ***/
$color-slate: #808a92;
$color-ash: #333132;
$color-marble: #f2f5f7;

/*** responsive screen widths ***/
$screen-retina: 2560px;
$screen-xl: 1920px;
$screen-lg: 1440px;
$screen-med: 1000px;
$screen-sm: 767px;
$screen-xs: 490px;
