.ack-read-more {
  display: block;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2em;

  &:hover {
    text-decoration: underline;
  }
}

.checkout__acknowledgements {
  position: relative;
  height: 100px;
  margin-bottom: 1em;
  overflow: hidden;
  transition: height 215ms;
}

.checkout__acknowledgements::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.checkout__acknowledgements.opened {
  height: 100%;
}

.checkout__acknowledgements.opened::after {
  display: none;
}

.woocommerce form .form-row-first-2 {
  float: left;
  clear: left;
}

.woocommerce form .form-row-first-2,
.woocommerce-page form .form-row-last-2 {
  width: 47%;
  overflow: visible;
}

.woocommerce form .form-row-last-2 {
  float: right;
  clear: right;
}

.woocommerce form .form-row-last-2.no-label {
  margin-top: 32px;
}

.woocommerce-checkout {
  .woocommerce {
    width: 80%;
    margin: 0 auto;

    .woocommerce-form-coupon-toggle {
      max-width: 50%;

      .woocommerce-info {
        box-shadow: none;
        padding: 1em 2em 1em 2.5em;
        margin: 20px 0;

        .showcoupon {
          color: $color-fire;
        }

        &::before {
          color: $color-fire;
          left: 0;
        }
      }
    }

    .woocommerce-form-coupon {
      max-width: 50%;
      border: none;
      box-shadow: 0 3px 6px 0 rgba(128, 138, 146, 0.5);

      p {
        margin-top: 0;
      }

      .form-row-first {
        .input-text {
          box-sizing: border-box;
          height: 41px;
          width: auto;
          border: 2px solid $color-ash;
          border-radius: 20px;
          background-image: none;
          background-color: transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          font-size: 16px;
          font-family: "Red Hat Display", sans-serif;
          font-weight: 900;
          padding-left: 10px;
          color: $color-jet;
        }
      }

      .form-row-last {
        .button {
          -webkit-appearance: none;
          -moz-appearance: none;
          cursor: pointer;
          border-radius: 29px;
          width: fit-content;
          outline: none;
          font-family: "Red Hat Display", sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          height: 41px;
          padding: 0 22px;
          background: linear-gradient(113deg, $color-fire 85%, $color-ember 100%);
          color: $color-white;
          letter-spacing: 0;
          border: 2px solid $color-fire;
        }
      }
    }

    .woocommerce-checkout {
      .woocommerce-NoticeGroup-checkout {
        .woocommerce-error {
          background: $color-white;
          box-shadow: 0 3px 6px 0 rgba(128, 138, 146, 0.5);
          border-top: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          color: $color-jet;
          margin: 20px auto;
          //padding: 1em 2em 1em 2.5em;
        }
      }

      #customer_details {
        .woocommerce-billing-fields,
        .woocommerce-additional-fields,
        .woocommerce-shipping-fields {
          h3 {
            font-size: 22px;
          }

          .woocommerce-billing-fields__field-wrapper,
          .woocommerce-additional-fields__field-wrapper,
          .woocommerce-shipping-fields__field-wrapper {
            .form-row {
              .woocommerce-input-wrapper {
                input {
                  box-sizing: border-box;
                  height: 30px;
                  border: 1px solid $color-ash;
                  border-radius: 20px;
                  background-image: none;
                  background-color: transparent;
                  -webkit-box-shadow: none;
                  -moz-box-shadow: none;
                  box-shadow: none;
                  font-size: 16px;
                  font-family: "Red Hat Display", sans-serif;
                  font-weight: 900;
                  padding-left: 10px;
                  color: $color-jet;
                }
              }
            }
          }

          .device-story {
            label {
              margin: 0 0 5px 10px;
            }
          }

          .client-po-header {
            margin: 15px 0 10px 10px;
            color: $color-fire;
          }

          .client-po,
          .checkout-disclaimer-fields {
            .woocommerce-input-wrapper {
              input {
                box-sizing: border-box;
                height: 30px;
                border: 1px solid $color-ash;
                border-radius: 20px;
                background-image: none;
                background-color: transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                font-size: 16px;
                font-family: "Red Hat Display", sans-serif;
                font-weight: 900;
                padding-left: 10px;
                color: $color-jet;
              }
            }
          }
        }
      }

      #order_review_heading {
        font-size: 22px;
      }

      #order_review {
        margin-bottom: 50px;

        .woocommerce-checkout-review-order-table {
          border: none;
          border-collapse: collapse;
          font-size: 16px;
          font-weight: 400;

          thead {
            tr {
              .product-total {
                text-align: right;
                padding-right: 0;
              }
            }
          }

          tbody {
            .item-by-serial-number {
              td {
                font-weight: 600;

                .item-serial-number {
                  text-decoration: underline;
                  font-weight: 900;
                  color: $color-fire;
                  font-size: 14px;
                  margin: 0;
                }
              }
            }

            .cart_item {
              td {
                border-top: none;
                padding-left: 5em;

                @media (max-width: $screen-sm) {
                  padding-left: 1em;
                }
              }

              .product-total {
                text-align: right;
                padding: 13px 0;
              }

              .product-name {
                .cart-serial-wrapper {
                  position: relative;
                  display: inline-block;

                  .cart-serial-number {
                    text-decoration: underline;
                    font-weight: 900;
                    color: $color-fire;
                    font-size: 14px;
                    margin: 0 15px 0 0;
                    cursor: pointer;
                  }

                  #new_serial_number {
                    display: none;
                    grid-template-areas: "new_sn" "submit_sn";

                    .new-serial-number {
                      grid-area: new_sn;
                      margin: 0 15px 0 0;
                      height: 30px;
                      border-bottom: 1px solid $color-fire;
                      border-top: none;
                      border-right: none;
                      border-left: none;
                      box-sizing: border-box;
                      background-image: none;
                      -webkit-box-shadow: none;
                      -moz-box-shadow: none;
                      box-shadow: none;
                      font-size: 14px;
                      font-family: "Red Hat Display", sans-serif;
                      font-weight: 900;
                      padding-left: 10px;
                      outline: none;
                      background-color: rgba(128, 138, 146, 0.1);
                    }

                    .submit-new-serial-number {
                      grid-area: submit_sn;
                      justify-self: end;
                      cursor: pointer;
                      text-decoration: underline;
                      font-size: 14px;
                      color: $color-jet;
                      font-weight: 900;
                      transition: color 1s ease;
                      margin: 0 15px 0 0;

                      &:hover {
                        color: $color-fire;
                      }
                    }
                  }

                  .edit-serial-number {
                    position: absolute;
                    bottom: 60%;
                    right: 0%;
                    cursor: pointer;
                    background: $color-jet;
                    color: $color-marble;
                    width: 10px;
                    height: 10px;
                    font-size: 10px;
                    border-radius: 50%;
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px;
                    line-height: 10px;

                    &.fa-times {
                      color: $color-fire;
                    }
                  }

                  @media (max-width: $screen-med) {
                    margin-top: 10px;
                  }
                }
              }
            }
          }

          tfoot {
            tr {
              &:first-child {
                th,
                td {
                  border-top: 1px solid $color-ash;
                }
              }

              &:last-child {
                td {
                  font-weight: 900;
                }
              }

              th,
              td {
                border: none;
                padding: 13px 0;
                text-align: right;
              }

              th {
                font-weight: 900;
              }

              td {
                font-weight: 400;
              }
            }
          }
        }

        #payment {
          background: $color-white;
          box-shadow: 0 3px 6px 0 rgba(128, 138, 146, 0.5);

          .wc_payment_methods {
            .wc_payment_method {
              .payment_box {
                background: $color-white;
                color: $color-jet;

                .form-row {
                  .sv-wc-payment-gateway-payment-form-manage-payment-methods {
                    cursor: pointer;
                    border-radius: 29px;
                    width: fit-content;
                    outline: none;
                    font-family: "Red Hat Display", sans-serif;
                    font-weight: 700;
                    line-height: 21px;
                    padding: 15px 22px;
                    color: $color-jet;
                    border: 2px solid $color-jet;
                    background: transparent;
                    transition: all 0.5s ease;

                    &:hover {
                      color: $color-white;
                      background: $color-jet;
                    }
                  }
                }

                &::before {
                  display: none;
                }
              }
            }
          }

          .place-order {
            .custom-checkboxes {
              .woocommerce-form__label {
                display: block;
                padding-right: 10px;
                padding-left: 22px;
                text-indent: -22px;

                .woocommerce-form__input {
                  vertical-align: middle;

                  span {
                    vertical-align: middle;
                  }
                }
              }
            }

            .woocommerce-terms-and-conditions-wrapper {
              .woocommerce-privacy-policy-text {
                padding-left: 22px;
              }

              .form-row {
                .woocommerce-form__label {
                  display: block;
                  padding-right: 10px;
                  padding-left: 22px;
                  text-indent: -22px;

                  .woocommerce-form__input {
                    vertical-align: middle;

                    span {
                      vertical-align: middle;
                    }
                  }
                }
              }
            }

            #place_order {
              -webkit-appearance: none;
              -moz-appearance: none;
              cursor: pointer;
              border-radius: 29px;
              width: fit-content;
              outline: none;
              font-family: "Red Hat Display", sans-serif;
              font-weight: 700;
              font-size: 16px;
              line-height: 21px;
              height: 47px;
              padding: 0 22px;
              background: linear-gradient(113deg, $color-fire 85%, $color-ember 100%);
              color: $color-white;
              letter-spacing: 0;
              border: 2px solid $color-fire;
            }
          }
        }
      }
    }

    .woocommerce-order {
      .woocommerce-thankyou-order-received {
        font-size: 22px;
        font-weight: 600;
      }

      .woocommerce-thankyou-order-details {
        padding: 0;

        li {
          font-size: 12px;
          font-weight: 400;
          border-right: 1px solid $color-ash;

          strong {
            font-size: 16px;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .woocommerce-order-details {
        margin-bottom: 50px;

        .woocommerce-order-details__order-date,
        .woocommerce-order-details__title,
        .woocommerce-order-details__account,
        .woocommerce-order-details__products-title {
          display: none;
        }

        .woocommerce-table--order-details {
          border-collapse: collapse;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: none;

          tbody {
            .order_item {
              .product-name {
                padding: 13px 0;
                font-size: 16px;
                font-weight: 400;

                .wc-item-meta {
                  display: none;
                }

                span {
                  font-size: 16px;
                  font-weight: 400;

                  .model {
                    color: $color-fire;
                    text-decoration: underline;

                    .serial {
                      font-size: 12px;
                      font-weight: 700;
                    }
                  }

                  .product-quantity {
                    font-size: 16px;
                    font-weight: 900;
                    margin-left: 20px;
                  }
                }
              }

              .product-total {
                font-size: 16px;
                font-weight: 400;
                text-align: right;
                padding: 13px 0;
              }
            }
          }

          tfoot {
            tr {
              font-size: 16px;

              &:first-child {
                th,
                td {
                  border-top: 1px solid $color-slate;
                }
              }

              &:last-child {
                td {
                  font-weight: 900;
                }
              }

              th,
              td {
                border: none;
                padding: 13px 0;
                text-align: right;
              }

              th {
                font-weight: 900;
              }

              td {
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      width: 90%;

      .woocommerce-form-coupon-toggle {
        max-width: 90%;
      }

      .woocommerce-form-coupon {
        max-width: 90%;

        .form-row {
          float: none;

          .button {
            height: fit-content;
          }
        }
      }
    }
  }
}

.device-info--container {
  padding: 0 10px;

  .device-info--item-title {
    font-weight: 600;
  }

  .device-info--item-title .item-serial-number {
    text-decoration: underline;
    font-weight: 900;
    color: #b2111e;
    font-size: 14px;
    margin: 0;
  }

  .input-text {
    box-sizing: border-box;
    height: 30px;
    border: 1px solid $color-ash;
    border-radius: 20px;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    padding-left: 10px;
    color: $color-jet;
  }

  .form-row .woocommerce-input-wrapper textarea {
    height: 7.2rem;
  }
}

@media (max-width: $screen-med) {
  .shipping-label-cta__icon {
    display: none;
  }
}

.shipping-label-cta__btn {
  padding: 11px 37px;
  height: auto;
}

#preferred_contact_field label {
  font-weight: bold;
}
